h2{
    text-align: center;
}

body{
    background: black;
    margin: 0px; 
}

div{
    width: 100px; 
    height: 200px; 
    background : white;
    margin: 0px 23px 0; 
    padding-top: 400px; 
}

.hello{
    url("img/coke.png"); 
    url("img/coke.png"); 
    url("img/coke.png"); 
    url("img/coke.png"); 
}
